{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": [0], // disable
    "react/no-unescaped-entities": [0],
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "prettier/prettier": 2,
    "@typescript-eslint/no-empty-function": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
